/* Maps / Full Map */
.karta {
position: unset;
width: 1468px;
height: 900px;
right: 700px;
top: calc(50% - 900px/2);

background: #FFFFFF;
}
/* h-m */
.shapka {
position: absolute;
width: 1428px;
height: 72px;
left: 280px;
top: 0px;

background: #FCFCFC;
border-radius: 0px 0px 10px 10px;
}
/* Bell */
.chime {
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
/* Question */
.vok {
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
/* Group 2 */
.switch {
width: 43.38px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}